.renduAvis {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /*     position: absolute;
    top: 65%; */
  width: 100%;
  gap: 20px;
}
.cardavis {
  display: flex;
  background-color: white;
  width: 400px;
  margin-left: 50px;
  padding: 5px;
  gap: 5px;
  border-radius: 15px;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  display: flex;
  background-color: white;
  width: 400px;
  margin-left: 50px;
  padding: 5px;
  gap: 5px;
  border-radius: 15px;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  display: flex;
  background-color: white;
  width: 400px;
  margin-left: 50px;
  padding: 5px;
  gap: 5px;
  border-radius: 15px;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  box-shadow: 2px 2px 7px 5px #48abe0;
}
.renduAvis h2 {
  background-color: #248795;
  border: 2px solid #070a09;
  border-radius: 5px;
  color: #0e0424;
  margin: 10px;
  font-size: 1.7rem;
  margin-right: 40px;
  /*     z-index: 2;
    position: absolute;
    right: 200px; */
    width: 100%;
    text-align: center;
}
.renduAvis img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  /*    position: absolute;
    right: 110px; */
  margin-top: -15px;
  margin-left: -30px;
}
@media screen  and (max-width : 768px){
  .cardavis{
    width: 300px;
  }
}