.divtest {
    display: flex;
    position: relative;
    top: 10vh;

    left: 40vw;
    overflow: hidden;
    z-index: 1;
    height: 300px;
    width:300px;
    justify-content: center;
    background-color:  white;
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(-35%);
      opacity: 1;
    }
  }
  
  .divtest {
    animation: slide-up 10s ease-in-out forwards;
  }