.navlink {
  color: white;
  margin: 5px;
  font-size: 1.5rem;
}
.loginicon {
  position: absolute;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  height: 40px;

  top: 10px;
  background:#2bc6ff;
  border-radius: 24px;
  cursor: pointer;
}

.loginicon:hover{
  color: white;
}
.log{
  left: 80%;
}
.sig{
  left: 90%;
}