.navGlobal{
  width: 100VW;
  display: flex;
  position: sticky;
  top: 5px;
  justify-content: space-between;
  background-color:#0e0424;
}
.navlink {
  color: white;
  margin: 5px;
  font-size: 1.5rem;
}
.loginicon {
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  height: 40px;

  top: 10px;
  background:#2bc6ff;
  border-radius: 24px;
  cursor: pointer;
}

.loginicon:hover{
  color: white;
}
.buttonContainer{
  display: flex;
  align-items: center;
  margin: 5px;
  margin-right: 30px;
  gap: 5px
}