form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icone {
    margin-top: 25px;
    border-radius: 15px;
    height: 200px;
    width: 200px;
  }

.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}