.contenaireB {
  display: flex;
flex-direction: column;
align-items: center;
}
.rendu{
  background-color: aqua;
}
.renduA{
  background-color: blanchedalmond;
}
.renduB {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
