.Boutique {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.rendu{
  display: flex;
  width: 95vw;
}
.renduA{
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 120px;
  margin: 20px;
  border: 15px solid #0e0424;
  border-radius: 15px;
  box-shadow: 0 0 0 .6em #f4b346;
  align-items: center;
  position: sticky;
  top: 100px;
}
.renduB {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  gap: 20px;
}
.link{
 text-decoration:none;
}
.renduA button{
  margin-top: 15px;
}
.bdt-filtre{
  font-size: 1rem;
}