.Boutique {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.rendu {
  display: flex;
  width: 95vw;
}
.renduA {
  display: flex;
  height: 270px;
  width: 120px;
  margin: 20px;
  border: 15px solid #0e0424;
  border-radius: 15px;
  box-shadow: 0 0 0 0.6em #f4b346;
  position: sticky;
  top: 225px;
  flex-direction: column;
  align-items: center;
 }
 .blanc {
  height: 100px;
 }
#showFilter{
  display: none;
}
.renduB {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  gap: 20px;
}
.link {
  text-decoration: none;
}
.renduA button {
  margin-top: 15px;
}
#bdt-filtre {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  font-size: 1rem;
}

@media screen  and (max-width : 768px){
  #showFilter{
    display:block;
    height: 100px;
    position: sticky;
    top: 225px;
    border-radius: 10px;
    background-color: #7fd4ff;
   /* writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;*/
   }
  
  .renduA.hidden-responsive {
   visibility: hidden;
   position: absolute;
   z-index: 10;
  }
  .renduA.visible-responsive {
    
    animation: slide-up 0.3s;
  }
  @keyframes slide-up {
    0% {
      display: none;
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      display: block;
      transform: translateX(0%);
      opacity: 1;
    }
  }
}
