.partiepresentation {
  display: flex;
  margin-top: 70px;
}
#avatarpresentation {
  width: 20%;
  height: 20%;
  margin: 5%;
}
.nomcreateur {
  padding: 40px;
  font-size: 2rem;
  text-decoration: underline;
}
.zonetext {
  width: 500px;
  height: 250px;
}
.zoneptext {
  color: black;
  font-size: 1.5rem;
  position: relative;
  top: -90%;
  margin: 30px;
  padding: 25px;
}
.imagebackground {
  margin: 0;
  width: 500px;
  height: 250px;
}
.collection {
  margin-top: 10px;
  border: 1px solid white;
  padding: 10px;
}
.titrecollection {
  color: white;
  width: 80vw;
  border-bottom: 1px solid white ;
}
.lesavis {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 70vw;
}
.mapavis {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  background-color: aliceblue;
  align-items: center;
  margin: 5px;
  color: black;
  font-size: 1.5rem;
  width: 45%;
  padding-left: 10px;
  padding-right: 10px;
}
.zonefin {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.placeavis {
  display: flex;
}
#prenom{
  color:blue;
  font-weight: bold;
  font-style: italic;
}
.pourcreateur {
  display: flex;
  margin-top: 10px;
 }
#liencreateur {
  font-size: 1.5em;
  background-color: blue;
  border-radius: 5px;
}