.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  height: 250px;
  width: 250px;
  margin: 20px;
}
.resultat{
  display: flex;
  width: 100vw;
}
.filtre{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  width: 150x;
  flex-wrap: wrap;
  margin: 30px;
}
.rendu{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p{
  text-align: center;
}