.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e0424;
  color: #f4b346;
}

.resultat{
  display: flex;
  width: 100vw;
}
.filtre{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  width: 150px;
  flex-wrap: wrap;
  margin: 30px;
  gap: 20px;
}
.rendu{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

p{
  text-align: center;
}