.container-cardObjet{
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}
.cardObjetgeneral{
  display: flex;
  gap:20px;
  align-items: center;
  justify-content:space-around;
}

.cardObjet {
  border: 15px solid #0e0424;
  border-radius: 15px;
  box-shadow: 0 0 0 0.6em #f4b346;
  margin: 90px 30px 0 30px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.descriptionObjet {
  background-color: white;
  color: #070a09;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  width: 400px;
}
.descriptionObjet img {
  width: 250px;
  height: 250px;
  margin: 20px;
}
.button {
  width: 150px;
  height: 50px;
  border-radius: 20px;
}
.infoAutre {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.infoCreateur {
  display: flex;
}
.infoCreateur .h2 {
  background-color: #0e0424;
}
.infoCreateur img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.cadrecreateur {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.avisutilisateur {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-bottom: 25%;
}
.titreavis{
  display: flex;
  width: 100%;
  border-bottom: 2px solid  #48abe0;
  margin-bottom: 5%;
}
.blockavisObjet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blockavisObjet h2 {
  background-color: #248795;
  border: 2px solid #070a09;
  border-radius: 5px;
  color: #0e0424;
  text-align: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.blockavisObjet img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 8%;
  margin-right: -10%;
}
.avisrecadre{
  display: flex;
  justify-content: flex-end;
  background-color: white;
}
.bdtadpan {
  width: 150px;
  height: 75px;
  padding: 0;
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bdtadpan:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.bdtadpan:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}
.notation {
  display: flex;
  border-bottom: 2px solid #48abe0;
}
.votreavis {
  display: flex;
  flex-direction: column;
}
.avisuser {
  margin-top: 15px;
  height: 30px;
  font-size: 1.2rem;
  width: 100%;
}
.validebtn {
  width: 30px;
  height: 30px;
  display: flex;
}
.placeinput {
  display: flex;
  justify-content: flex-end;
}

@media screen  and (max-width : 768px) {
  .container-cardObjet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 .infoCreateur {
  flex-direction: column;
 }
 .notation {
  flex-direction: column;
 }
 .descriptionObjet {
  width: auto;
 }
  .bdtadpan {
    height: 50px;
    padding: 0;
  }
}
@media screen  and (max-width : 768px){
  .cardObjetgeneral {
    display: flex;
    flex-direction: column;
  }
}

